#root {
  align-items: center;
  max-width: 1280px;
  margin: auto;
}

h1, h2, h3, h4, p {
  cursor: default;
  color: white;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
}

body {
  min-width: 1024px;
  background-color: #222;
}

.activeMove {
  box-shadow: 0px 3px gray;
}

.activeTarget {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #FFF;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.inactiveTarget {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid rgba(0,0,0,0);
  border-radius: 5px;
  outline: none;
}

.battle {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.card {
  border: 1px solid #DDD;
  border-radius: 5px;
  background-color: #FFF;
}

.cursor {
  cursor: default;
}

.dice {
  width: 3rem;
  height: 3rem;
  font-family: "Press Start 2P", cursive;
  line-height: 3rem;
  background-color: #FFF;
  color: #000;
  border-radius: 3px;
  margin: auto;
}

.enemyBattle {
  background-color: #FFF;
  width: 50px;
  height: 50px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.majorSelectContainer {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}

.majorSelect {
  width: 22%;
  margin: 16px 16px;
}

.majorSelect .flex div {
  background-size: 4200%;
}

.majorTitle {
  margin-bottom: 0;
  color: black;
}

.majorSubtitle {
  margin-top: .5rem;
  color: black;
}

.majorSuggestion {
  display: flex;
  justify-content: space-evenly;
  width: 20%;
  text-align: center;
  align-items: center;
  margin: auto;
}

.move {
  margin: 1rem 1rem 0rem 3rem;
  color: black;
}

.moveButton {
  height: 40px;
  width: 120px;
  margin: .25rem;
  color: #000;
  background-color: #FFF;
  border: none;
  border-radius: 3px;
}

.moveButton:focus {
  outline: blue solid;
}

.moveButtonContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.moveRow {
  display: flex;
}

.moveSet {
  text-align: left;
  margin-bottom: 2rem;
}

.party {
  display: flex;
}

.partyBattle {
  justify-content: space-around;
}

.partyBattle div {
  background-size: 4200%;
}

.party div {
  background-size: 4200%;
}

.partyContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partyStatus {
  font-family: 'Press Start 2P', cursive;
}

.playerBattle {
  display: flex;
  margin: .25rem 2rem;
  align-items: flex-start;
}

.playerBattle Button {
  height: 170px;
}

.rollContainer {
  position: absolute;
  width: 100vw;
  top: 45vh;
  left: 0;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  z-index: -1;
}

.selectDone {
  border: #4CAF50;
  border-radius: 5px;
  outline: none;
  position: absolute;
  right: 2rem;
  width: 6rem;
  height: 4rem;
  background-color: #4CAF50;
  color: #FFF;
  font-size: 2rem;
  cursor: pointer;
  box-shadow: 0 9px #3e8e41;
}

.selectDone:hover {
  background-color: #3DBF61
}

.selectDone:active {
  background-color: #3DBF61;
  box-shadow: 0 5px #3e8e41;
  transform: translateY(4px);
}

.selectionContainer {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selectMajor {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  
}

.selectMajorButton {
  border: none;
  outline: none;
  font-size: 2rem;
  width: 3rem;
  height: 3rem;
  position: absolute;
  cursor: pointer;
  background: none;
  color: #999
}

.selectMajorButton:hover {
  color: #000
}

.selectMajorButton:active {
  color: #999
}

.selectMajorLeft {
  left: 0;
}

.selectMajorRight {
  right: 0;
}

.stat {
  margin: 0;
  color: black;
}

.status {
  width: 5rem;
  margin-right: 1rem;
}

.status h4 {
  margin: 0;
}

.statRight {
  position: absolute;
  left: 40%;
}

.statRow {
  display: flex;
  margin: 1rem 0 0 3rem;
  position: relative;
}

.stats {
  width: 5rem;
}

.stats h4 {
  margin: 0;
}

.tip {
  max-width: 10rem;
}